.dialog-content {
    max-height: 400px; /* Make the content scrollable */
    overflow-y: auto;
}

.full-width {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}
