.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between dropdown and button */
    margin-bottom: 20px;
    position: relative;
}

.day-filter-dropdown {
    width: 300px; /* Width for dropdown */
}

.assign-route-button {
    position: absolute;
    top: 0;
    right: 0;
}

.mat-card {
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.mat-form-field {
    margin-right: 16px;
}
